# dependencies
node_modules/

# env files (can opt-in for committing if needed)
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production
/dist
/build

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# Local history backups
.history/
